USE [BIT_PORTAL]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 5/15/2026 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [nvarchar](50) NOT NULL,
	[dbHost] [nvarchar](255) NOT NULL,
	[dbPort] [int] NOT NULL,
	[dbUsername] [nvarchar](100) NOT NULL,
	[dbPassword] [nvarchar](255) NOT NULL,
	[dbDatabase] [nvarchar](100) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
	[emailDomain] [nvarchar](100) NULL,
 CONSTRAINT [PK_d4bc3e82a314fa9e29f652c2c22] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_3dacbb3eb4f095e29372ff8e131] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_b28b07d25e4324eee577de5496d] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_stat_tabs]    Script Date: 5/15/2026 1:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_stat_tabs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[companyId] [int] NULL,
	[tab] [varchar](50) NOT NULL,
 CONSTRAINT [PK_b00b96404f55fb1eb28c66f32d6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_232c787dce7041e567f5b589669] UNIQUE NONCLUSTERED 
(
	[companyId] ASC,
	[tab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[portal_users]    Script Date: 5/15/2026 1:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[portal_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[passwordHash] [nvarchar](255) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[isActive] [bit] NOT NULL,
	[role] [varchar](20) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_05a331e256443e6ceca53561ead] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_097304fca6aaf020c7c75b08575] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/15/2026 1:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[isSystem] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[permissions] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_company_access]    Script Date: 5/15/2026 1:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_company_access](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[userId] [int] NULL,
	[companyId] [int] NULL,
	[externalId] [nvarchar](50) NULL,
	[roleId] [int] NULL,
	[isActive] [bit] NOT NULL,
	[inputName] [nvarchar](150) NULL,
	[inputEmail] [nvarchar](150) NULL,
	[inputPassword] [nvarchar](255) NULL,
	[supervisorPin] [nvarchar](100) NULL,
 CONSTRAINT [PK_4974d803cecdf81bed5b87c0172] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_d92cdbfd421268ae7eb3855b8a9] UNIQUE NONCLUSTERED 
(
	[userId] ASC,
	[companyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_COMPANY_PERMISSIONS]    Script Date: 5/15/2026 1:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_COMPANY_PERMISSIONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ucaId] [int] NOT NULL,
	[permissionCode] [nvarchar](50) NOT NULL,
	[grantedAt] [datetime] NOT NULL,
	[grantedBy] [nvarchar](50) NULL,
	[grantedUntil] [datetime] NULL,
	[reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UCP] UNIQUE NONCLUSTERED 
(
	[ucaId] ASC,
	[permissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_company_roles]    Script Date: 5/15/2026 1:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_company_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ucaId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[companies] ADD  CONSTRAINT [DF_8c11d5a37d449a4720e4b2400d0]  DEFAULT ((1433)) FOR [dbPort]
GO
ALTER TABLE [dbo].[companies] ADD  CONSTRAINT [DF_605e81319be9823d9666a1b43e9]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[companies] ADD  CONSTRAINT [DF_a0365502b055164bc8234ae6ff6]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[companies] ADD  CONSTRAINT [DF_df4b0a28099d9da123850b2d298]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[portal_users] ADD  CONSTRAINT [DF_f004bb358d699922b62e2059586]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[portal_users] ADD  CONSTRAINT [DF_68eb504e1732200e784b92159d9]  DEFAULT ('client') FOR [role]
GO
ALTER TABLE [dbo].[portal_users] ADD  CONSTRAINT [DF_264974057f0234670ab4745d21a]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[portal_users] ADD  CONSTRAINT [DF_5bfc9c0397eaaaa4b7fd9c75259]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [isSystem]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ('company') FOR [type]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ('[]') FOR [permissions]
GO
ALTER TABLE [dbo].[user_company_access] ADD  CONSTRAINT [DF_3ac97a0ef693058b7aa8ae389d1]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[user_company_access] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[USER_COMPANY_PERMISSIONS] ADD  DEFAULT (getdate()) FOR [grantedAt]
GO
ALTER TABLE [dbo].[user_company_roles] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[user_company_roles] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[company_stat_tabs]  WITH CHECK ADD  CONSTRAINT [FK_39d2c7d5626727740df1756b036] FOREIGN KEY([companyId])
REFERENCES [dbo].[companies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_stat_tabs] CHECK CONSTRAINT [FK_39d2c7d5626727740df1756b036]
GO
ALTER TABLE [dbo].[user_company_access]  WITH CHECK ADD  CONSTRAINT [FK_25b4561be9c54743d83976638b2] FOREIGN KEY([companyId])
REFERENCES [dbo].[companies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_company_access] CHECK CONSTRAINT [FK_25b4561be9c54743d83976638b2]
GO
ALTER TABLE [dbo].[user_company_access]  WITH CHECK ADD  CONSTRAINT [FK_2a94e64c38e5aafcd138565b81f] FOREIGN KEY([userId])
REFERENCES [dbo].[portal_users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_company_access] CHECK CONSTRAINT [FK_2a94e64c38e5aafcd138565b81f]
GO
ALTER TABLE [dbo].[USER_COMPANY_PERMISSIONS]  WITH CHECK ADD  CONSTRAINT [FK_UCP_UCA] FOREIGN KEY([ucaId])
REFERENCES [dbo].[user_company_access] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_COMPANY_PERMISSIONS] CHECK CONSTRAINT [FK_UCP_UCA]
GO
ALTER TABLE [dbo].[user_company_roles]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_company_roles]  WITH CHECK ADD FOREIGN KEY([ucaId])
REFERENCES [dbo].[user_company_access] ([id])
ON DELETE CASCADE
GO
